.lottery {
  border: 2px dashed grey;
  width: 600px;
  margin: 100px auto;
  padding: 40px 0 20px 0;
  border-radius: 10px;
  text-align: center;
}

.lotteryItemWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.lotteryItem {
  width: 80px;
  height: 80px;
  background-color: lime;
  border-radius: 50%;
  text-align: center;
  margin: 0 10px;
  color: white;
  font-weight: bold;
  font-size: 32px;

  display: flex;
  justify-content: center;
  align-items: center;
}
